<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: black;
            text-align: center;
        }
        form{
            color: blue;
            text-align: center;
            size: 10px;
        }
        p{
            text-align: center;
            color: yellow;
        }
    </style>
</head>
<body>
    <form action="/snv/" method="POST">
        TEXT:<input type="text" name="exp"><br>
        {%csrf_token%}
        <br>
        <input type="submit" value="submit">
    </form>

    <p>{{data}}</p>
</body>
</html>